.header {
  display: flex;
  height: 40px;
  color: white;
  letter-spacing: 1px;
  font-size: 24px;
  padding: 0 8px;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--border-width) solid var(--color-main-border);
}

.logo {
  font-family: 'Orbitron', sans-serif;
  display: flex;
  align-items: baseline;
  gap: 4px;
  font-weight: 700;
}

.loading {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: right;
}
